


.frames4{ 
top:1010px; 
left:110px; 
width:20%; 
height:200px; 
background: #90CDAF;  
position: absolute; 
} 



.frames4::before{ 
content:"";
position: absolute; 
top:10px; 
left:10px; 
width:100%; 
height:200px; 
background: #BFE3D1;
z-index:-1;  
}



.frames4::after{ 
content:"";
position: absolute; 
top:-10px; 
left:-10px; 
width:100%; 
height:200px; 
background: #60B88D;
z-index:1;  
} 